button#menubutton {
  height:50px;
  background-color:white;
  border-radius:0px;
  cursor:auto;
  color:#b30000;
  font-variant:small-caps;
  box-shadow:none;
}
button#menubutton:hover {
  height:50px;
  background-color:#b30000;
  border-radius:0px;
  cursor:auto;
  color:white;
  font-variant:small-caps;
}
body{
  color:white;
  background-color:black;
  font-family:Verdana;
}
a {
  text-decoration:none;
  color:white;
}
a:hover {
  text-decoration:underline;
  color:white;
}
hr{
  border-color:#ffcc66;
}
b#greeting{
  color:#b30000;
}
div#menu{
  background-color:white;
  
}
